# rcov generated
coverage
coverage.data

# rdoc generated
rdoc

# yard generated
doc
.yardoc

# bundler
.bundle

# jeweler generated
pkg

# for MacOS:
.DS_Store

# don't check in .gem files
*.gem

# or API keys
.env